body {
    margin: 0;
    font-size: 14px;
    line-height: 1.61;
    font-weight: 400;
    background: -webkit-linear-gradient(#D8D8D8, white);
    background: -o-linear-gradient(#D8D8D8, white);
    background: -moz-linear-gradient(#D8D8D8, white);
    background: linear-gradient(#D8D8D8, white);
}
.top {
    background: #909090;
    padding: 1.5em;
    background: -webkit-linear-gradient(#99CCFF, #E0E0E0);
    background: -o-linear-gradient(#99CCFF, #E0E0E0);
    background: -moz-linear-gradient(#99CCFF, #E0E0E0);
    background: linear-gradient(#99CCFF, #E0E0E0);
}

.title {
    padding: .4em;
    width: 27%;
    background: #6699CC;
    border-radius: 10px;
    font-size: 30px;
}

.hero {
    padding: 2em;
    margin-bottom: 2em;
    background-color: #6699CC;
    font-size: 1.2em;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.body {
    padding: 20px 0px 20px 0px;
    background-color: #E0E0E0;
}

.projects-title {
    color: #337ab7;
}

.main-content {
    padding: 12px 12px 12px 12px;
    margin-left: auto;
    margin-right: auto;
    width: 58.33333333%;
    background-color: white;
    height: 100%;
    font-size: 12px;
}

.li-item {
    font-size: .9em; 
    font-style: italic;
}

#nav {
    display: table;
    width: 100%;
}

#nav b {
    display: table-cell;
    width: 20%;  /* (100 / numItems)% */
    text-align: center;
    white-space: nowrap;
}​

.drop-menu {
    display: block;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

.sub-menu {
    display: none;
    width: 400px;
    background: #fff;
    padding: 10px 10px;
    margin-left: -11px;
    margin-top: 10px;
    text-align: left;
    border: 1px solid #fff;
    position:relative;
    z-index: 10;
}

.drop-menu:hover .sub-menu {
    display: block;
}

.side-link {
    padding-left: 10px;
    color: black;
}

.side-bar {
    margin-top: 20px;
    padding: 0px 0px 0px 0px;
    border: 1px solid #f6f0e4;
    background-color: #6699CC;
    height: auto;
}

.side-bar-title {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
    border: 1px solid white;
    line-height: 3em;
    background: #6699CC;
}
.side-list {
    margin: 0px 0px 0px 0px;
    padding: 0px 20px 0px 0px;
    border: 1px solid white;
    line-height: 3em;
}

.side-list:hover {
    background: #E0E0E0;
}

ul {
    list-style-type: none;
    padding: 0px 0px 0px 0px;
}

.pointer {
    cursor: pointer;
}

.blue-text {
    color: #337ab7;
}
.shadow {
    -webkit-box-shadow: 0px 13px 25px rgba(0,0,0, 0.2);
    -moz-box-shadow: 0px 13px 25px rgba(0,0,0, 0.2);
    box-shadow: 0px 13px 25px rgba(0,0,0, 0.2);
}