}
body {
    margin: 0;
    font-size: 14px;
    line-height: 1.61;
    font-weight: 400;
    background-color: #99CCFF;
}
a {
    color: #12C;
}
a:visited {
    color: #61C;
}
a:focus {
    outline: dotted thin;
}
a:active, a:hover {
    color: #c00;
    outline: 0;
}

.hero {
    padding: 2em;
    margin-bottom: 2em;
    background-color: #6699CC;
    font-size: 1.2em;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.main-content {
    padding: 12px 12px 12px 12px;
    margin-left: auto;
    margin-right: auto;
    width: 58.33333333%;
    background-color: white;
    height: 100%;
}
.li-item {
    font-size: .9em; 
    font-style: italic;
}